/***** BASE STYLES *****/

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #2b2b2b;
    max-width: 1200px;
    margin: 0 auto;
}

/***** GRID *****/

.full-width {
    width: 90%;
    margin: 0 auto;
    overflow: auto;
}

.half-width {
    width: 50%;
    margin: 0 auto;
    overflow: auto;
    float: left;
}

.third-width {
    width: 33%;
    margin: 0 auto;
    overflow: auto;
    float: left;
}

/***** HEADER SECTION *****/

header {
    height: 800px;
    background: url('../img/hero.png');
    background-size: cover;
    background-position: center;
}

header h1 {
    font-family: 'Lora', serif;
    font-size: 40px;
    color: #bbc085; 
    padding: 50px 0 0 25px;
}

nav {
    float: right; 
    padding: 80px 20px 0;
}
nav ul li{
    display: inline-block;
}
nav ul li a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #828282;
    text-transform: uppercase;
    text-decoration: none; 
    padding-left: 50px; 
}

header h2 {
    float: left;
    font-family: 'Lora', serif;
    font-size: 72px;
    line-height: 80px;
    color: #9b9b9b;
    padding: 20px 0 20px 25px;
}
header h2 span {
    color: #2b2b2b;
}

/***** ABOUT SECTION *****/

#about .full-width {
    padding: 80px 0;
}

#about h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
    color: #2b2b2b;
    padding-left: 70px;
}
 
#about p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 21px;
    font-weight: normal; 
    color: #7f7f7f;
    line-height: 40px;
    padding: 0 70px;
}

/***** WORK SECTION *****/

#work {
    text-align: center;
    background-color: #f9ceb7;
}

#work .full-width {
    padding: 115px 0;
}
 
#work img {
    padding-bottom: 30px;
}

#work h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    width: 175px;
    margin: 0 auto;
}
 
#work p {
    font-family: 'Lora', serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    padding: 0 50px;
}

/***** CONTACT SECTION *****/

#contact {
    background-color: #ebebeb;
}

#contact .full-width {
    padding: 110px 0;
}

#contact-img {
    border: 12px solid #ffffff;
    width: 95%;
}

#contact h2, #contact #email-header, #contact ul {
    padding-left: 100px;
}

#contact #envelope {
    padding-left: 100px;
}

#contact h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
    line-height: 44px;
    color: #2b2b2b;
}

#contact #socialmedia-header {
    padding-left: 90px;
}

#contact #email-header {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 32px;
    font-weight: normal;
    line-height: 44px;
    color: #2b2b2b;
    margin: -30px 0 5px 0;
}

#contact #socialmedia-header {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 29px;
    line-height: 44px;
    color: #2b2b2b;
    margin: 40px 0 0 0;
}

#contact a {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: #c49075;
    text-decoration: underline;
}

#contact ul {
    list-style: none;
}

#contact ul li {
     display: inline-block;
}

#contact ul img {
    padding-right: 30px;
}